body {
  background: linear-gradient(to top, #911b87, #df6f24);
  margin: 0;
  height: 100vh;
}

header {
  justify-content: center;
  text-align: center;
  border: solid black;
  top: 0;
}

footer {
  justify-content: center;
  text-align: center;
  border: solid black;
  width: 100%;
  position: fixed;
  bottom: 0;
}
